<div class="v-kart">
  <div class="v-kart-brand">
    <img src="assets/images/kodinger.jpg" alt="logo">
  </div>
  <div class="v-kart-wrapper">
    <div class="v-kart-box v-kart-login">
      <div class="v-kart-box-inner">
        <form>
          <p>Enter email to reset password</p>
          <div class="v-kart-group">
            <label>Email</label>
            <input type="email" autocomplete="email" name="email" class="v-kart-input">
          </div>
          <button class="v-kart-btn login-btn">
            Reset
          </button>
          <div class="text-foot">
            I know my password? <a [routerLink]="['/login']" class="login-link">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <footer class="v-kart-footer">
  </footer>
</div>