<div class="v-kart">
  <div class="v-kart-brand">
    <img src="assets/images/kodinger.jpg" alt="logo">
  </div>
  <div class="v-kart-wrapper">
    <div class="v-kart-box v-kart-login">
      <div class="v-kart-box-inner">
        <form id="forgetForm" [formGroup]="forgetForm" (ngSubmit)="resetPassword()">
          <p>Enter email to reset password</p>
          <div class="v-kart-group">
            <label>Email</label>
            <input type="text" name="email" id="email" formControlName="email" class="v-kart-input">
            <div *ngIf="forgetForm.controls.email.touched && forgetForm.controls.email.errors">
              <p class="error" *ngIf="forgetForm.controls.email.errors.required"><i class="fa fa-exclamation-triangle"></i> Email is required</p>
              <p class="error" *ngIf="forgetForm.controls.email.errors.checkmail"><i class="fa fa-exclamation-triangle"></i> Invalid Email.</p>
            </div>
          </div>
          <input type="submit" class="v-kart-btn login-btn" value="Reset" [disabled]="forgetForm.invalid">
          <div class="text-foot">
            <p class="error" *ngIf="error">
              <i class="fa fa-exclamation-triangle"></i> {{error.err_message}}
            </p>
            I know my password? <a [routerLink]="['/login']" class="login-link">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
