<div class="v-kart">
  <div class="v-kart-brand">
    <img src="assets/images/kodinger.jpg" alt="logo">
  </div>
  <div class="v-kart-wrapper">
    <div class="v-kart-box v-kart-login">
      <div class="v-kart-box-inner">
        <form>
          <p>Sign in to continue</p>
          <div class="v-kart-group">
            <label>Email</label>
            <input type="email" autocomplete="email" name="email" class="v-kart-input">
          </div>
          <div class="v-kart-group password-group">
            <label>Password <a href="#" class="forgot-link">Forgot Password?</a></label>
            <input type="password" name="password" autocomplete="current-password" class="v-kart-input">
          </div>
          <button class="v-kart-btn login-btn">
            Sign In
          </button>
        </form>
      </div>
    </div>
  </div>
  <footer class="v-kart-footer">
  </footer>
</div>