<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h6 class="m-0 font-weight-bold text-primary">Categories</h6>
  <a href="javascript:void(0)" data-toggle="modal" data-target="#categoryModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-plus"></i> Create new
  </a>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Parent</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody *ngIf="categroy.length">
              <tr *ngFor="let c of categroy">
                <td>{{c.name}}</td>
                <td>{{c.description}}</td>
                <td>
                  <ng-container *ngIf="c.parent_product_catagory.length">
                    <span *ngFor="let p of c.parent_product_catagory; let i = index">
                      {{p.name}}{{(i < c.parent_product_catagory.length - 1) ? ',' : ''}}
                    </span>
                  </ng-container>
                  <ng-container *ngIf="!c.parent_product_catagory.length">
                    None
                  </ng-container>
                </td>
                <td><a href="javascript:void(0)" (click)="editCategory(c._id)"><i class="fas fa-edit"></i></a></td>
                <td><a href="javascript:void(0)"  (click)="deleteCategory(c._id)"><i class="fas fa-trash"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Add Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-times-circle fa-sm" aria-hidden="true"></i>
        </button>
      </div>
      <form id="categoryForm" [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
        <div class="modal-body">
          <div class="v-kart-group">
            <label>Name</label>
            <input type="text" name="name" id="name" formControlName="name" class="v-kart-input">
            <div *ngIf="categoryForm.controls.name.touched && categoryForm.controls.name.errors">
              <p class="error" *ngIf="categoryForm.controls.name.errors.required"><i class="fa fa-exclamation-triangle"></i> Name is required</p>
            </div>
          </div>
          <div class="v-kart-group">
            <label>Description</label>
            <textarea name="description" id="description" formControlName="description" class="v-kart-input"></textarea>
          </div>
          <div class="v-kart-group">
            <label>parent category</label>
            <select class="v-kart-input" multiple="multiple" name="parent_product_catagory" id="parent_product_catagory" formControlName="parent_product_catagory">
              <ng-container *ngIf="categroy.length">
                <option *ngFor="let c of categroy" [value]="c._id">{{c.name}}</option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-sm btn-primary shadow-sm" [disabled]="categoryForm.invalid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>