<div class="modal fade" id="imageCloudModal" tabindex="-1" role="dialog" aria-labelledby="imageCloudModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">{{imageCloudType?.displayName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times-circle fa-sm" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        body
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-primary shadow-sm" (click)="authorize()">Authenticate</button>
      </div>
    </div>
  </div>
</div>