@import url('https://fonts.googleapis.com/css?family=Fahkwang:400,500');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    background: var(--color-background);
}
.np {
    padding: 0;
}
a {
    text-decoration: none;
}
a:after {
    border:none;
}
a:active,
a:focus {
    outline:0;
    border:none;
    -moz-outline-style:none;
}
.error {
    color: rgb(248, 10, 10) !important;
    font-size: 0.8em;
    text-align: left !important;
}
.success {
    color: rgb(83, 245, 8) !important;
    font-size: 0.8em;
    text-align: left;
}
