@import url('https://fonts.googleapis.com/css?family=Fahkwang:400,500');
:host {
	/* variables */
	--color-primary: #44a0b3;
	--color-grey: rgba(68, 160, 179, .06);
	--color-dark: rgba(68, 160, 179, .5);
	--color-semidark: rgba(68, 160, 179, .5);
    --color-background: #fbfbfb;
    --color-error: rgb(248, 10, 10);
    --color-success: rgb(83, 245, 8);
}
body {
    background: var(--color-background);
}
.np {
    padding: 0;
}
a {
    text-decoration: none;
}
a:after {
    border:none;
}
a:active,
a:focus {
    outline:0;
    border:none;
    -moz-outline-style:none;
}
.error {
    color: var(--color-error);
}
.success {
    color: var(--color-success);
}